<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
      <andover>
        <settings>
          <add key="Database" value="master" />
          <add key="LogsPath" value="C:\inetpub\wwwroot\Data\logs" />
          <add key="MaxChildItemsPerParent" value="100" />
          <add key="MaxVersionsPerItem" value="25" />
          <add key="ContentStartPath" value="/sitecore/content/" />
        </settings>
        <categories>
          <category name="Cache Settings" description="Analysis for cache sizes greater than 80% of the max." >
            <components>
              <component type="Andover.Domain.Components.Cache.CacheDeltasComponent" name="Cache Deltas" description="Cache delta analysis" />
            </components>
          </category>
          <category name="Content" description="Looks for content items with more than 100 children and 25 versions." >
            <components>
              <component type="Andover.Domain.Components.Content.ItemChildrenComponent" name="Content Structure" description="Content structure analysis" />
              <component type="Andover.Domain.Components.Content.ItemVersionsComponent" name="Content Versions" description="Content versions analysis" />
            </components>
          </category>
          <category name="Database" description="Analysis for database properties, index fragmentation and record count by table." >
            <components>
              <component type="Andover.Domain.Components.Database.DatabasePropertiesComponent" name="Databaes Properties" description="Database properties analysis" />
              <component type="Andover.Domain.Components.Database.IndexFragmentationComponent" name="Index Fragmentation" description="Index fragmentation analysis" />
              <component type="Andover.Domain.Components.Database.RecordCountComponent" name="Record Count Analysis" description="Record counts by table" />
            </components>
          </category>
          <category name="Performance" description="Sitecore logs analysis for application errors, hard and soft crashes, long running requests." >
            <components>
              <component type="Andover.Domain.Components.Logs.ApplicationErrorsComponent" name="Application Errors" description="Application errors analysis" />
              <component type="Andover.Domain.Components.Logs.CrashesHardComponent" name="Application Hard Crashes" description="Application hard crashes analysis" />
              <component type="Andover.Domain.Components.Logs.CrashesSoftComponent" name="Application Soft Crashes" description="Application soft crashes analysis" />
              <component type="Andover.Domain.Components.Logs.LongRunningRequestsComponent" name="Long Running Requests" description="Application long running requests analysis" />
            </components>
          </category>
        </categories>
      </andover>
  </sitecore>
</configuration>