<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Monitor.Core" connectionString="user id=sa;password=swampscott!12;Data Source=localhost;Database=neb-site.Core" />
		<add name="Monitor.Master" connectionString="user id=sa;password=swampscott!12;Data Source=localhost;Database=neb-site.Master" />
		<add name="Monitor.Web" connectionString="user id=sa;password=swampscott!12;Data Source=localhost;Database=neb-site.Web" />
		<add name="Monitor.Analytics" connectionString="Database=neb-site.Analytics;Data Source=10.251.7.64\sql2008r2;user id=neb;password=7EQuj5vu4W;Connect Timeout=30"/>
	</connectionStrings>
</configuration>