<?xml version="1.0" encoding="utf-8"?>
<andover>
	<categories>
		<category name="Cache Settings" description="Cache setting analysis" >
			<components>
				<component type="Andover.Domain.Components.Cache.CacheDeltasComponent" name="Cache Deltas" description="Cache delta analysis" />
			</components>
		</category>
		<category name="Content" description="Content structure analysis" >
			<components>
				<component type="Andover.Domain.Components.Content.ItemChildrenComponent" name="Content Structure" description="Content structure analysis" />
				<component type="Andover.Domain.Components.Content.ItemVersionsComponent" name="Content Versions" description="Content versions analysis" />
			</components>
		</category>
		<category name="Database" description="Database analysis" >
			<components>
				<component type="Andover.Domain.Components.Database.DatabasePropertiesComponent" name="Databaes Properties" description="Database properties analysis" />
				<component type="Andover.Domain.Components.Database.IndexFragmentationComponent" name="Index Fragmentation" description="Index fragmentation analysis" />
				<component type="Andover.Domain.Components.Database.RecordCountComponent" name="Record Count Analysis" description="Record counts by table" />
			</components>
		</category>
		<category name="Performance" description="Performance analysis" >
			<components>
				<component type="Andover.Domain.Components.Logs.ApplicationErrorsComponent" name="Application Errors" description="Application errors analysis" />
				<component type="Andover.Domain.Components.Logs.CrashesHardComponent" name="Application Hard Crashes" description="Application hard crashes analysis" />
				<component type="Andover.Domain.Components.Logs.CrashesSoftComponent" name="Application Soft Crashes" description="Application soft crashes analysis" />
				<component type="Andover.Domain.Components.Logs.LongRunningRequestsComponent" name="Long Running Requests" description="Application long running requests analysis" />
			</components>
		</category>
	</categories>
</andover>